@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;400&family=Noto+Sans:wght@400;500;700&family=Work+Sans:wght@400;700;800&display=swap");

body {
	user-select: none;
}

#panel {
	--work-sans: "Work Sans", sans-serif;

	max-width: 350px;
	min-width: 190px;

	#profilePicture {
		height: 10vh;
		width: 10vh;
		border-radius: 50%;
		margin-top: 5vh;
		margin-left: 0.15vh;
	}

	font-family: var(--work-sans);
	margin-left: 4.85vh;

	h1 {
		font-weight: 800;
		font-size: 40px;
	}

	p {
		font-weight: 500;
		font-size: 20px;
	}
}

@media only screen and (max-width: 1194px) {
	@import "./styling.tablet.scss";
}

@media only screen and (max-width: 900px) {
	@import "./styling.mobile.scss";
}
