#sideImage {
    display: none;
}

#welcomeBack {
    width: 100vw;
}

#signInWrapper {
    transform:scale(0.7);
    overflow-y:scroll;
    height: 100%;

    overflow-x: hidden;

    #signinForm {
        width: 100vw;
    }
}
