#sideImage {
    display: none;
}

#signInWrapper {
    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    -ms-transform:scale(0.75);
    transform:scale(0.75);
    overflow-y:scroll;
    height: 100%;
}
