$NotoSans: 'Noto Sans', sans-serif;
$WorkSans: 'Work Sans', sans-serif;

* {
	margin: 0;
	padding: 0;
}

#sideImage {
	float: left;
	width: 45vw;
	height: 100vh;
}

@media only screen and (max-width: 1194px) {
	@import "./styling.tablet.scss";
}