// Brand image on the right side of the signup page, hidden on mobile
#sideImage {}


@mixin inputField {
	width: 100%;
	height: 3.25rem;

	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.7rem;
	letter-spacing: 0.01em;

	&::placeholder {
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 1.25rem;
		letter-spacing: 0.01em;

		color: rgba(154, 154, 162, 0.8);
	}
}

@mixin inputLabel {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2rem;

	letter-spacing: 0.04rem;
}

// Field on the right that welcomes the user and contains the signup form
#signField {
	margin: {
		left: 50%;
		right: 50%;
		top: auto;
		bottom: auto;
	}

	display: grid;
	color: #121B2A;

	// Title of the signup page
	#welcomeBack {
		font-family: 'Work Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 3.5rem;
		line-height: 4.125rem;

		letter-spacing: 0.04rem;
	}

	// Tagline under the title
	#tagline {
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.8rem;
		letter-spacing: 0.04rem;
	}

	// This contains the actual form where the user can enter their creds.
	#signinForm {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
        height: fit-content;

		width: 25rem;

		#emailLabel {
			@include inputLabel;
		}

		#emailInput {
			@include inputField;
		}

		#passwordLabel {
			@include inputLabel;
		}

		#passwordInput {
			@include inputField;
		}

		#showPasswordWrapper {
			display: flex;
			flex-direction: row;
			align-items: center;

			#showPasswordLabel {
				display: inline-flex;

				font-family: 'Noto Sans';
				font-style: normal;
				font-weight: 300;
				font-size: 1rem;

				letter-spacing: 0.04em;
			}

			#showPasswordCheckbox {
				display: inline-flex;

				width: 1rem;
				height: 1rem;

				border: 1px solid #9A9AA2;
				border-radius: 0.25rem;
			}
		}
	}
}


// Boomwhackers at the bottom of the signup page, hidden on desktop
#boomwhackers {
	display: none;
}